<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.MyMovie">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.NavigationDrawerActivity"
            android:label="영화 목록"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".comment.ShowCommentList"
            android:label="한줄평 목록"/>
        <activity
            android:name=".comment.CommentWrite"
            android:label="한줄평 작성"/>
    </application>

</manifest>